<br><br>
<div class="row">
  <div class="col-lg-6">
    <div class="card" style="padding: 20px">
      <h1>Eventos por mes</h1>
        <%= column_chart @events %>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card" style="padding: 20px">
      <h1>Próximos 5 eventos</h1>
      <table class="table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Fecha</th>
            <th>Ubicación</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @lastEvents.each do |event| %>
          <tr>
            <td><%= event.name %></td>
            <td><%= event.date.strftime('%d/%m/%Y %H:%M') %></td>
            <td><%= event.location %></td>
            <td><%= link_to "Detalle Evento", event_path(event), class: 'btn btn-primary' %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>