<div class="row">
  <div class="col-lg-12">
    <h1>Detalles del producto</h1>
    <%= link_to "Editar", edit_event_path(@event), class: 'btn btn-warning' %>
    <%= link_to 'Eliminar', event_path(@event),
  data: {turbo_method: :delete}, class: 'btn btn-danger' %>
  <br><br>
    <div class="card" style="padding: 20px;">
      <table class="table">
        <tr>
          <td><b>Nombre del evento:</b></td>
          <td><%= @event.name %></td>
        </tr>
        <tr>
          <td><b>Fecha evento:</b></td>
          <td><%= @event.date.strftime('%d/%m/%Y %H:%M') %></td>
        </tr>
        <tr>
          <td><b>Capacidad</b></td>
          <td><%= @event.capacity %></td>
        </tr>
        <tr>
          <td><b>Descripci贸n:</b></td>
          <td><%= @event.description %></td>
        </tr>
        <tr>
          <td><b>Fecha de creaci贸n:</b></td>
          <td><%= @event.created_at.strftime('%d/%m/%Y %H:%M') %></td>
        </tr>
        <tr>
          <td><b>Fecha de actualizaci贸n:</b></td>
          <td><%= @event.updated_at.strftime('%d/%m/%Y %H:%M') %></td>
        </tr>
        <tr>
          <td><b>Ubicaci贸n:</b></td>
          <td><%= @event.location %></td>
        </tr>
        <tr>
          <td></td>
          <td>
            <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=15&size=400x300&center=#{@event.latitude},#{@event.longitude}&markers=#{@event.latitude},#{@event.longitude}&key=#{@maps_key}", alt: "Map", class: 'map' %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<br>
